<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.dev.pms.room.BookingVO" alias="BookingVO" />
        <typeAlias type="com.dev.pms.user.UserVO" alias="UserVO" />
        <typeAlias type="com.dev.pms.room.RoomTypeVO" alias="RoomTypeVO" />
        <typeAlias type="com.dev.pms.room.ReservedVO" alias="ReservedVO" />
        <typeAlias type="com.dev.pms.room.RoomVO" alias="RoomVO" />
        <typeAlias type="com.dev.pms.roomStatus.RoomStatusVO" alias="RoomStatusVO" />
        <typeAlias type="com.dev.pms.room.ChangeStockVO" alias="ChangeStockVO" />

        <typeAlias type="com.dev.pms.clean.CalenderVO" alias="CalenderVO"></typeAlias>
        <typeAlias type="com.dev.pms.clean.RoomCleanVO" alias="RoomCleanVO"></typeAlias>
        <typeAlias type="com.dev.pms.clean.FileVO" alias="FileVO"></typeAlias>

        <typeAlias type="com.dev.pms.stock.PartnerStockVO" alias="PartnerStockVO"></typeAlias>
        <typeAlias type="com.dev.pms.stock.PartnerVO" alias="PartnerVO"></typeAlias>
        <typeAlias type="com.dev.pms.stock.HotelStockVO" alias="HotelStockVO"></typeAlias>
        <typeAlias type="com.dev.pms.stock.ManagerStockVO" alias="ManagerStockVO"></typeAlias>
        <typeAlias type="com.dev.pms.stock.RoomStockVO" alias="RoomStockVO"></typeAlias>
        <typeAlias type="com.dev.pms.stock.PartnerCalculateVO" alias="PartnerCalculateVO"></typeAlias>
    </typeAliases>

</configuration>