<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.pms.clean.CleanDAO">

    <select id="getCleanList" parameterType="CalenderVO" resultType="CalenderVO">
        SELECT SCHEDULENUMBER, SCHEDULEENDDATE, SCHEDULESTARTDATE
        FROM CALENDER
    </select>

    <select id="getRoomCleanList" resultType="RoomCleanVO">
        SELECT rc.*, rci.savedname
        FROM ROOMCLEAN rc
        JOIN ROOMCLEANIMAGE rci ON rc.cleannum = rci.cleannum;
    </select>

    <insert id="insertSchedule" parameterType="CalenderVO">
        INSERT INTO CALENDER(SCHEDULENUMBER,SCHEDULEENDDATE,SCHEDULESTARTDATE)
        VALUES (#{scheduleNumber},#{scheduleEnddate},#{scheduleStartdate})
    </insert>

    <insert id="insertFile" parameterType="FileVO">
        INSERT INTO ROOMCLEANIMAGE (cleanNum, orgName, savedName, savedPath)
        VALUES (#{cleanNum}, #{orgName}, #{savedName}, #{savedPath})
    </insert>

    <insert id="setRoomClean" parameterType="RoomCleanVO">
        INSERT INTO ROOMCLEAN
        VALUES (NULL,#{roomNumber}, #{scheduleNumber}, SYSDATE(),'미확인', #{note})
    </insert>

    <update id="updateCleanNum">
        UPDATE ROOMCLEANIMAGE
        SET cleannum = (SELECT cleannum FROM ROOMCLEAN ORDER BY cleannum DESC LIMIT 1)
        ORDER BY IMAGEID DESC
        LIMIT 1;
    </update>

    <update id="setCleanStatus" parameterType="RoomCleanVO">
       UPDATE ROOMCLEAN
       SET CONFIRMATIONSTATUS = "확인"
       WHERE CLEANNUM = #{cleanNum}
    </update>


    <delete id="deleteSchedule" parameterType="CalenderVO">
        DELETE
        FROM CALENDER
        WHERE SCHEDULENUMBER = #{scheduleNumber}
    </delete>

    <select id="getTodayClean"  resultType="CalenderVO">
        SELECT SCHEDULENUMBER
        FROM CALENDER
        WHERE CURRENT_DATE() BETWEEN SCHEDULESTARTDATE AND SCHEDULEENDDATE;
    </select>

<!--    오늘 청소부 번호 -->
    <select id="getRequestClean" parameterType="ReservedVO" resultMap="getRequestCleanResult">
        SELECT DISTINCT C.SCHEDULENUMBER, R.ROOMNUMBER, ROOMSTATUS
        FROM RESERVED R
        JOIN CALENDER C ON R.ROOMSTATUS = '청소요청' OR ROOMSTATUS = '청소중'
        WHERE CURRENT_DATE() BETWEEN C.SCHEDULESTARTDATE AND C.SCHEDULEENDDATE
    </select>
    


    <update id="updateCleanStatus" parameterType="ReservedVO">
        UPDATE RESERVED
        SET ROOMSTATUS = '청소중'
        WHERE ROOMNUMBER = #{roomNumber}
        AND ROOMSTATUS = '청소요청'
    </update>

    <update id="updateCleaningInProgress" parameterType="ReservedVO">
        UPDATE RESERVED
        SET ROOMSTATUS = '청소중'
        WHERE ROOMNUMBER = #{roomNumber}
        AND ROOMSTATUS = '청소요청'
    </update>

<!--    <update id="CleaningComplete" parameterType="ReservedVO">-->
<!--        UPDATE RESERVED-->
<!--        SET ROOMSTATUS = '재실'-->
<!--        WHERE ROOMNUMBER = #{roomNumber}-->
<!--        AND ROOMSTATUS = '청소중'-->
<!--    </update>-->

    <update id="CleaningComplete" parameterType="ReservedVO">
        UPDATE RESERVED R
        INNER JOIN BOOKING B
        USING(ROOMNUMBER)
        SET R.ROOMSTATUS =
        CASE
        WHEN CURDATE() = B.CHECKOUTDATE THEN '예약가능'
        ELSE '재실'
        END
        WHERE R.ROOMNUMBER = #{roomNumber}
        AND R.ROOMSTATUS = '청소중'
    </update>

    <update id="updateCheckoutCleaning" parameterType="ReservedVO">
        UPDATE RESERVED
        SET ROOMSTATUS = '청소요청'
        WHERE ROOMSTATUS = '퇴실'
    </update>



    <update id="updateCheckout" parameterType="BookingVO">
        UPDATE RESERVED R
        INNER JOIN BOOKING B
        USING(ROOMNUMBER)
        SET R.ROOMSTATUS='퇴실'
        WHERE B.CHECKOUTDATE=CURDATE()
        AND R.RESERVATIONDATE BETWEEN B.CHECKINDATE AND B.CHECKOUTDATE
    </update>

    <select id="cleanScheduleCheck" parameterType="CalenderVO" resultType="Long">
        SELECT COUNT(*) FROM calender c
        WHERE SCHEDULESTARTDATE <![CDATA[<=]]> #{scheduleEnddate}
        AND SCHEDULEENDDATE >= #{scheduleStartdate}
    </select>
    
    
    <select id="todayCheckIn" parameterType="BookingVO" resultType="BookingVO">
        SELECT CHECKINDATE, ROOMNUMBER
        FROM booking b
        WHERE DATE(CHECKINDATE) = CURDATE()
    </select>

    <select id="todayCheckOut" parameterType="BookingVO" resultType="BookingVO">
        SELECT CHECKOUTDATE , ROOMNUMBER
        FROM booking b
        WHERE DATE(CHECKOUTDATE) = CURDATE();
    </select>



    <resultMap type="CalenderVO" id="getRequestCleanResult">
        <id column="scheduleNumber" property="scheduleNumber"/>
        <result column="scheduleEnddate" property="scheduleEnddate"/>
        <result column="scheduleStartdate" property="scheduleStartdate"/>

        <collection property="reservedVOS" javaType="List" ofType="ReservedVO">
            <id column="reservationNum" property="reservationNum"/>
            <result column="reservationDate" property="reservationDate"/>
            <result column="roomNumber" property="roomNumber"/>
            <result column="roomType" property="roomType"/>
            <result column="roomStatus" property="roomStatus"/>
        </collection>

    </resultMap>
</mapper>