<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.pms.clean.CleanDAO">

    <select id="getCleanList" parameterType="CalenderVO" resultType="CalenderVO">
        SELECT SCHEDULENUMBER, SCHEDULEENDDATE, SCHEDULESTARTDATE
        FROM CALENDER
    </select>

    <select id="getRoomCleanList" resultType="RoomCleanVO">
        SELECT * FROM ROOMCLEAN;
    </select>

    <insert id="insertSchedule" parameterType="CalenderVO">
        INSERT INTO CALENDER(SCHEDULENUMBER,SCHEDULEENDDATE,SCHEDULESTARTDATE)
        VALUES (#{scheduleNumber},#{scheduleEnddate},#{scheduleStartdate})
    </insert>

    <insert id="insertFile" parameterType="FileVO">
        INSERT INTO ROOMCLEANIMAGE (cleanNum, orgName, savedName, savedPath)
        VALUES (#{cleanNum}, #{orgName}, #{savedName}, #{savedPath})
    </insert>

    <insert id="setRoomClean" parameterType="RoomCleanVO">
        INSERT INTO ROOMCLEAN
        VALUES (NULL,#{roomNumber}, #{scheduleNumber}, SYSDATE(),'미확인', #{note})
    </insert>


    <delete id="deleteSchedule" parameterType="CalenderVO">
        DELETE
        FROM CALENDER
        WHERE SCHEDULENUMBER = #{scheduleNumber}
    </delete>

</mapper>