<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.pms.stock.ManagerDAO">
    <select id="getStockList" resultType="ManagerStockVO">
        SELECT H.*, P.PRODUCTNAME, P.ITEMCODE, P.UNITPRICE
        FROM HOTELSTOCK AS H
        JOIN PARTNERSTOCK AS P ON H.ITEMID = P.ITEMID;
    </select>

    <select id="getTodaySales" resultType="StatisticsVO">
        SELECT
        COALESCE(RT.ROOMTYPE, '전체') AS ROOMTYPE,
        IFNULL(SUM(IF(B.ROOMNUMBER  IS NULL, 0, RT.ROOMPRICE)), 0) AS TODAYSALES
        FROM
        ROOMTYPE RT
        LEFT JOIN BOOKING B ON B.ROOMTYPE = RT.ROOMTYPE AND CURDATE() BETWEEN B.CHECKINDATE AND B.CHECKOUTDATE
        GROUP BY
        RT.ROOMTYPE WITH ROLLUP;
    </select>

    <update id="setQuantity" parameterType="ManagerStockVO">
        UPDATE HOTELSTOCK
        SET AUTOORDERQUANTITY = #{quantity}
        WHERE ITEMID = #{itemId};
    </update>

    <update id="setStatus" parameterType="ManagerStockVO">
        UPDATE HOTELSTOCK
        SET ORDERSTATUS = "재고부족"
        WHERE INVENTORYID = #{inventoryId}
    </update>

    <update id="setOrderStatus" parameterType="ManagerStockVO">
        UPDATE HOTELSTOCK
        SET ORDERSTATUS = "발주요청"
        WHERE ITEMID = #{itemId}
    </update>
    <!--재고부족 알림-->
    <insert id="setAlarm">
        INSERT INTO ALARM
        VALUES (NULL,"pizone","1", CONCAT(#{inventoryId}, '번 상품의 재고가 부족합니다.'),sysdate(),"/stock/managerStockList");
    </insert>
</mapper>